.clients {
    display: flex;
    align-items: center;
    justify-content: center;

    list-style: none;
}

.clients__item {
    margin-right: 30px;

    &:last-child{
        margin-right: 0px;
    }
}

.clients__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid var(--border-background-color);
    border-radius: 4px;

    transition: border-color var(--transition-origin);
    transition: fill var(--transition-origin);

    &:hover,
    &:focus {
        border-color: var(--highlight-color);
    }
}

.clients__icon {
    fill: var(--border-background-color);

    transition: fill var(--transition-origin);

    .clients__link:hover & {
        fill:var(--highlight-color)
    }  

}
// Альтернатива для .clients__link:hover &
// .clients__link:hover .clients__icon,
// .clients__link:focus .clients__icon {
//     fill: var(--highlight-color);
// }
