.hero__title {
    margin-bottom: 30px;
    text-align: center;

    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    color: var(--white-color);
    text-transform: uppercase;

    @media screen and (min-width:768px) and (max-width:1199px) {
        width: 360px;
        margin-right: auto;
        margin-left: auto;     
    }
 
    @media screen and (min-width:1200px){
        width: 696px;
        margin-right: auto;
        margin-left: auto;

        font-size: 44px;
        line-height: 1.36;    
    }
    }
    
