.logo-web {
    display: block;
    margin-bottom: 20px;
}

.logo-web,
.logo-web__text {
    text-decoration: none;
    color: var(--highlight-color);
    font-family: Ralevey, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16px;
    text-align: center;
    letter-spacing: 0.03em;

    @media screen and (min-width:1200px) {
        font-size: 26px;
        line-height: 1.19; 
    }
}

.logo-web__text {
    color: var(--white-color);
}