.header {
    border-bottom: 1px solid #ececec;
}

.header__container {
    display: flex;
    align-items: center;
    
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
    
    @media screen and (max-width: 767px){
        justify-content: space-between;        
    }
}

.header-button{
    position: relative;
    margin-left: auto;
    display: block;
    padding: 0 0;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    z-index: 10;

    @media screen and (min-width:768px){
    display: none;
    }
}

.header-button:hover,
.header-button:focus{
    fill: var(--highlight-color)
}

.header-button__icon--close {
    opacity: 0;
}

.header-button.is-active .header-button__icon--close {
    opacity: 1;
}

.header-button.is-active .header-button__icon--open {
    opacity: 0;
}