:root {
    --main-black: #212121;
    --highlight-color: #2196f3;
    --white-color: #ffffff;
    --main-text-color: #757575;
    --additional-background-color: #F5F4FA;
    --border-background-color: #AFB1B8;
    --transition-origin: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
