.section--team {
    background-color: var(--additional-background-color);

    @media screen and (max-width:1199px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.section__title--team {
 
    @media screen and (min-width:0px) and (max-width:1199px) {
        margin-bottom: 30px;
        font-size: 28px;
        line-height: 1.17px;
    }
}

.team {
    list-style: none;

    @media screen and (min-width:768px) {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }

    @media screen and (min-width:1200px) {
        flex-wrap: nowrap;
    }
       
}

.team__item {
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;


    &:not(:last-child) {
            margin-bottom: 30px;
        }

    @media screen and (min-width:768px) and (max-width:1199px) {
        flex-basis: calc((100% - 30px) / 2);
    
        &:nth-child(2n+1) {
            margin-right: 30px;
        }
    
        &:nth-child(n+3) {
            margin-bottom: 0;
        }
    }
    
    @media screen and (min-width:1200px) {
        flex-basis: calc((100% - 90px) / 4);
    
        &:nth-child(n) {
            margin-bottom: 0;
        }
    
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
    
}

.team__box {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team__name {
    color: var(--main-black);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.team__position {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}