.team {
    background-color: var(--additional-background-color);
}

.team__title {
    color: var(--main-black);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
}

.team__list {
    display: flex;
    align-items: center;

    list-style: none;
}

.team__item {
    margin-right: 30px;
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__item:last-child {
    margin-right: 0px;
}

.team__text {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team__name {
    color: var(--main-black);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.team__position {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}